<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="8"
    android:versionName="8.3" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Without this folders will be inaccessible in Android-11 and above devices -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <!-- Without this entry storage-permission entry will not be visible under app-info permissions list Android-10 and below -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"/>


    <application

        android:icon="@drawable/ic_palmvenda"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true">

		<meta-data android:name="com.google.android.gms.version"
    		android:value="@integer/google_play_services_version" />
        <activity
            android:name="Entrada"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ClienteTabContainer"></activity>
        <activity android:name="Principal"></activity>
        <activity android:name="vendas.telas.ClienteLista"></activity>
        <activity android:name="UtilitarioPedido"></activity>
        <activity android:name="UtilitarioPedidoPendente"></activity>
        <activity android:name="UtilitarioTabContainer"></activity>
        <activity android:name="ClienteComplemento"></activity>
        <activity android:name="ClienteContasReceber"></activity>
        <activity android:name="ConsultaTabContainer"></activity>
        <activity android:name="ConsultaPositivacao"></activity>
        <activity android:name="ConsultaVendasCliente"></activity>
        <activity android:name="ConsultaVendasProduto"></activity>
        <activity android:name="JustificativaTabContainer"></activity>
        <activity android:name="JustificativaBasico"></activity>
        <activity android:name="JustificativaHistorico"></activity>       
        <activity android:name="PedidoTabContainer"></activity>      
        <activity android:name="ConfiguracaoTabContainer"></activity>      
        <activity android:name="ConfiguracaoRemoto"></activity>      
        <activity android:name="ConfiguracaoLocal"></activity> 
        <activity android:name="vendas.telas.ConfiguracaoGeral"></activity> 
        <activity android:name="PedidoAbrir"></activity> 
        <activity android:name="PedidoBasico"></activity> 
        <activity android:name="PedidoHistorico"></activity> 
        <activity android:name="PedidoItens"></activity>
        <activity android:name="ProdutoLista"></activity>  
        <activity android:name="Comunicacao"></activity>  
        <activity android:name="FiltroFornecedor"></activity>  
        <activity android:name="FiltroGrupo"></activity>  
        <activity android:name="PedidoItemNovo"></activity>
        <activity android:name="PedidoInfAdicional"></activity>  
        <activity android:name="GeoLocalizacao"></activity>
        <activity android:name="MySql"></activity>  
        <activity android:name="Localizacao"></activity>  
        <receiver
            android:name="BroadcastReceive"
            android:label="BroadcastReceive"
            android:exported="true">
            <intent-filter>
                <action android:name="ALARME_DISPARADO"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
     </application>

</manifest>